 body{
background-color:red;
} 
img{
    width:200px;
   
}
h1{
    color: black;
}
h1{
    font-family: 'Fruktur', cursive;
}
.tiv{
    border:10px dashed black;
    margin:10Px;
    padding:10px;
}
